@import url("https://fonts.googleapis.com/css2?family=Medula+One&family=Nunito&family=Open+Sans&family=Quicksand&family=Saira:ital,wght@1,300;1,400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");

:root {
  --primary-background: #ffffff;
  --primary-backgroung-trans: rgba(255, 255, 255, 0.6);
  --primary-accent: #fdce00;
  --primary-color: #000000;
  --secondary-color: #a1a1aa;
}

#main {
  height: 100vh;
  width: 100%;
}
p {
  margin: 0;
}
/****** HEADER SECTION *******/

.header {
  width: 95.25%;
  padding: 0 30px;
  height: 60px;
  background-color: var(--primary-backgroung-trans);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.name {
  padding-left: 90px;
  font-family: "Saira", sans-serif;
  font-style: italic;
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-accent);
  text-shadow: 1px 1px 3px var(--primary-color);
}

.nav button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav {
  padding-right: 90px;
  display: flex;
  gap: 50px;
  font-family: "Nunito", sans-serif;
}
.homeCnt,
.menuCnt,
.reservationCnt,
.aboutCnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home,
.menu,
.reservation,
.about {
  font-size: 17px;
  font-weight: 600;
}

.active-clr {
  color: var(--primary-accent);
}

.home:hover,
.menu:hover,
.reservation:hover,
.about:hover {
  scale: 1.01;
  color: var(--primary-accent);
  text-shadow: 1px 1px 5px var(--primary-color);
}
.span1,
.span2,
.span3,
.span4 {
  content: " ";
  width: 35px;
  height: 3px;
  border-radius: 10px;
  background-color: var(--primary-accent);
  transition: 2s ease-in-out;
  display: none;
}
.span3 {
  width: 60px;
}
.active {
  display: block;
}

/******* CONTENT SECTION - HOME PAGE******/

.contant {
  display: flex;
  height: 100%;
  gap: 60px;
}

.left {
  background-color: white;
  width: 50%;
}

.right {
  width: 50%;
  display: flex;
}

.imgs {
  padding-left: 30px;
  width: 80%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 7px 0 10px -3px rgb(76, 76, 76);
}

.pic {
  width: 100%;
  height: 120%;
  transition: 3s;
}

.slider {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 40px;
  top: 50%;
  bottom: 50%;
}

.slider-btn {
  content: "fbgd.";
  background-color: gray;
  padding: 3px;
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
}

.slider-btn:hover {
  background-color: var(--primary-accent);
  scale: 1.5;
}

input[type="radio"] {
  display: none;
}
#radio1:checked ~ .imgs .first {
  margin-top: 0;
}
#radio2:checked ~ .imgs .first {
  margin-top: -100vh;
}
#radio3:checked ~ .imgs .first {
  margin-top: -200vh;
}
#radio4:checked ~ .imgs .first {
  margin-top: -300vh;
}
#radio5:checked ~ .imgs .first {
  margin-top: -400vh;
}
#radio6:checked ~ .imgs .first {
  margin-top: -500vh;
}
#radio7:checked ~ .imgs .first {
  margin-top: -600vh;
}

#radio1:checked ~ .slider #radio-1,
#radio2:checked ~ .slider #radio-2,
#radio3:checked ~ .slider #radio-3,
#radio4:checked ~ .slider #radio-4,
#radio5:checked ~ .slider #radio-5,
#radio6:checked ~ .slider #radio-6,
#radio7:checked ~ .slider #radio-7 {
  background-color: var(--primary-accent);
  scale: 1.5;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.intro {
  padding-left: 100px;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.intro::before,
.intro::after {
  margin: 20px 0 20px -100px;
  content: " ";
  width: 150px;
  height: 2px;
  background-color: #a1a1aa;
  border-radius: 2px;
}

.intro::after {
  margin: 30px 0 0 -100px;
}

.line1 {
  font-size: 28px;
  font-family: "Nunito", sans-serif;
  font-style: italic;
  padding-bottom: 15px;
  color: var(--secondary-color);
}

.line2 {
  font-size: 48px;
  padding-bottom: 30px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

.line3 {
  font-size: 24px;
  padding: 10px 30px;
  font-family: "Quicksand", sans-serif;
  background-color: var(--primary-accent);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px -1px black;
}

.line3::after {
  padding-left: 20px;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f5da";
}
.line3:hover {
  background-color: var(--primary-color);
  color: var(--primary-accent);
}

.home-icons {
  width: 100%;
  height: 120px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home-icon-1::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-brands);
  content: "\f081";
  cursor: pointer;
}

.home-icon-2::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-brands);
  content: "\e055";
  cursor: pointer;
}

.home-icon-3::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-brands);
  content: "\f082";
  cursor: pointer;
}

.home-icon-1:hover::before,
.home-icon-2:hover::before,
.home-icon-3:hover::before {
  color: var(--primary-accent);
  text-shadow: 1px 1px 5px var(--primary-color);
}

/***** MENU PAGE *****/

.menu-container {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-title {
  font-family: "Quicksand", sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 15px 0;
  color: var(--primary-accent);
  text-shadow: 0 0 3px var(--primary-color);
}
.menu-intro {
  font-family: "Quicksand", sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-shadow: 0 0 1px var(--primary-accent);
}
.menu-page {
  width: 80%;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px 60px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 280px));
  grid-template-rows: auto;
}
.menuLine-title {
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: var(--primary-accent);
  text-shadow: 0 0 1px var(--primary-color);
}
.menuLines-wrap {
  display: flex;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}

.menuLines-wrap hr {
  margin: 15px 4px 0px 4px;
  flex-grow: 2;
}

.menuLine-3 {
  font-family: "Quicksand", sans-serif;
  margin: 5px 0 5px 10px;
  font-size: 14px;
  color: var(--secondary-color);
}
.menuLine-3::before {
  content: "- ";
}

/******* CONTENT SECTION - RESERVATION PAGE******/
.reservation-bg {
  width: 100vw;
  background-image: url(/src/img/bg-1.jpg);
  background-size: 100% 100%;
}
.reservation-container {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reservation-title {
  font-family: "Quicksand", sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 75px 0 15px 0;
  color: var(--primary-accent);
  text-shadow: 0 0 3px var(--primary-color);
}
.reservation-intro {
  font-family: "Quicksand", sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-shadow: 0 0 1px var(--primary-accent);
}
.form {
  width: 70%;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px 40px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 320px));
}
.label {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.label > input {
  margin-top: 5px;
  border-radius: 10px;
  padding: 2px 10px;
  border: var(--secondary-color) 2px solid;
}
.label > input:focus {
  outline: var(--primary-accent) 2px solid;
}
.form > div:nth-last-child(2) {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  justify-self: center;
}

.submit {
  grid-column: -3 / -1;
  grid-row: 5 / 6;
  width: 250px;
  justify-self: center;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 30px;
  font-family: "Nunito", sans-serif;
  background-color: var(--primary-accent);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px -1px black;
}
.submit:hover {
  background-color: var(--primary-color);
  color: var(--primary-accent);
}
/*
font-family: 'Medula One', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Saira', sans-serif;
*/
