@import url("https://fonts.googleapis.com/css2?family=Medula+One&family=Zhi+Mang+Xing&display=swap");
#main {
  height: 100vh;
  width: 100%;
}
.header {
  width: 95.3%;
  padding: 0 30px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.name {
  padding-left: 90px;
  color: brown;
  font-family: "Zhi Mang Xing", cursive;
}
.nav button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav {
  padding-right: 90px;
  display: flex;
  gap: 60px;
  font-family: "Medula One", cursive;
  font-size: 24px;
}

.home,
.menu,
.reservation,
.contact {
  letter-spacing: 0.7px;
}

.contant {
  display: flex;
  height: 100%;
  gap: 60px;
}
.left {
  background-color: white;
  width: 50%;
}
.right {
  width: 50%;
  display: flex;
}
.imgs {
  padding-left: 30px;
  width: 80%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 7px 0 10px -3px rgb(76, 76, 76);
}

.pic {
  width: auto;
  height: 622px;

  transition: 3s;
}

.slider {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 40px;
  top: 50%;
  bottom: 50%;
}

.slider-btn {
  content: "fbgd.";
  background-color: gray;
  padding: 3px;
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
}

.slider-btn:hover {
  background-color: greenyellow;
  scale: 1.5;
}

input[type="radio"] {
  display: none;
}
#radio1:checked ~ .imgs .first {
  margin-top: 0;
}
#radio2:checked ~ .imgs .first {
  margin-top: -100vh;
}
#radio3:checked ~ .imgs .first {
  margin-top: -200vh;
}
#radio4:checked ~ .imgs .first {
  margin-top: -300vh;
}
#radio5:checked ~ .imgs .first {
  margin-top: -400vh;
}
#radio6:checked ~ .imgs .first {
  margin-top: -500vh;
}
#radio7:checked ~ .imgs .first {
  margin-top: -600vh;
}

#radio1:checked ~ .slider #radio-1,
#radio2:checked ~ .slider #radio-2,
#radio3:checked ~ .slider #radio-3,
#radio4:checked ~ .slider #radio-4,
#radio5:checked ~ .slider #radio-5,
#radio6:checked ~ .slider #radio-6,
#radio7:checked ~ .slider #radio-7 {
  background-color: greenyellow;
  scale: 1.5;
}
